{% extends 'base.html' %}

{% block content %}

<div class="w-full mb-6 py-6 flex justify-between items-center border-b border-gray-200">
    <div class="text-4xl text-gray-800">
        <h1>Subscriptions</h1>
    </div>
    <div class="text-1xl text-gray-500 hover:text-blue-500">
        <a href="{% url 'clients:sub-create' %}"><button class="bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded">
          Create new subscription
        </button></a>
    </div>
    
</div>


<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <div class="flex items-center justify-between pb-4">
        <label for="table-search" class="sr-only">Search</label>
        <div class="relative">
            <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                <svg class="w-5 h-5 text-gray-500 light:text-gray-400" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd"></path></svg>
            </div>
            <input type="text" id="search-input" class="block p-2 pl-10 text-sm text-gray-900 border border-gray-300 rounded-lg w-80 bg-gray-50 focus:ring-blue-500 focus:border-blue-500 light:bg-gray-700 light:border-gray-600 light:placeholder-gray-400 light:text-white light:focus:ring-blue-500 light:focus:border-blue-500" placeholder="Search for items">
        </div>
    </div>
    <table class="w-full text-sm text-left text-gray-500 light:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 light:bg-gray-700 light:text-gray-400">
            <tr>
                <th scope="col" class="p-4">
                    <div class="flex items-center">
                        <input id="checkbox-all-search" type="checkbox" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 light:focus:ring-blue-600 light:ring-offset-gray-800 light:focus:ring-offset-gray-800 focus:ring-2 light:bg-gray-700 light:border-gray-600">
                        <label for="checkbox-all-search" class="sr-only">checkbox</label>
                    </div>
                </th>
                <th scope="col" class="px-6 py-3">
                    Name
                </th>
                <th scope="col" class="px-6 py-3">
                    Start Date
                </th>
                <th scope="col" class="px-6 py-3">
                    Exipre Date
                </th>
                <th scope="col" class="px-6 py-3">
                    Duration
                </th>
                <th scope="col" class="px-6 py-3">
                    Remaining Period
                </th>
                <th scope="col" class="px-6 py-3">
                    Speed
                </th>
                <th scope="col" class="px-6 py-3">
                    Month Cost
                </th>
                <th scope="col" class="px-6 py-3">
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
            {% for sub in subscriptions %}
            <tr class="bg-white border-b light:bg-gray-800 light:border-gray-700 hover:bg-gray-50 light:hover:bg-gray-600">
                <td class="w-4 p-4">
                    <div class="flex items-center">
                        <input id="checkbox-table-search-1" type="checkbox" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 light:focus:ring-blue-600 light:ring-offset-gray-800 light:focus:ring-offset-gray-800 focus:ring-2 light:bg-gray-700 light:border-gray-600">
                        <label for="checkbox-table-search-1" class="sr-only">checkbox</label>
                    </div>
                </td>
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap light:text-white">
                    {{sub}}
                </th>
                <td class="px-6 py-4">
                    {{sub.start_date}}
                </td>
                <td class="px-6 py-4">
                   test
                </td>
                <td class="px-6 py-4">
                    {% if sub.plan.duration == 1  %}
                    {{sub.plan.duration}} month
                    {% else %}
                    {{sub.plan.duration}} months
                    {% endif %}
                </td>
                <td class="px-6 py-4">
                    test
                </td>
                <td class="px-6 py-4">
                    {{sub.plan.speed}} Mega
                </td>
                <td class="px-6 py-4">
                    {{sub.plan.month_cost}} $
                </td>
             
                <td class="flex items-center px-6 py-4 space-x-3">
                    <a href="{% url 'clients:sub-update' sub.id%}" class="font-medium text-blue-600 light:text-blue-500 hover:underline">Edit</a>
                    <a href="{% url 'clients:sub-delete' sub.id%}" class="font-medium text-red-600 light:text-red-500 hover:underline">Remove</a>
                </td>
            </tr>
            {% endfor %}
           
        </tbody>
    </table>
</div>
</div>
<br>
 <!--Pagination-->
    
 <nav aria-label="Page navig ation example" class="grid place-items-center" >
    {% if is_paginated %}
    <ul class="inline-flex -space-x-px items-center	justify-between" >
      {% if page_obj.has_previous %}
      <li>
        <a href="?page={{page_obj.previous_page_number}}" class="px-3 py-2 ml-0 leading-tight text-gray-500 bg-white border border-gray-300 rounded-l-lg hover:bg-gray-100 hover:text-gray-700 light:bg-gray-800 light:border-gray-700 light:text-gray-400 light:hover:bg-gray-700 light:hover:text-white">Previous</a>
      </li>
      {% else %}
      <li>
        <a href="" class="page-item disabled px-3 py-2 ml-0 leading-tight text-gray-500 bg-white border border-gray-300 rounded-l-lg hover:bg-gray-100 hover:text-gray-700 light:bg-gray-800 light:border-gray-700 light:text-gray-400 light:hover:bg-gray-700 light:hover:text-white">Previous</a>
      </li>
      {% endif %}
  
      {% for i in paginator.page_range %} 
      {% if page_obj.number == i %}
      <li>
        <a aria-current="page" class="px-3 py-2 text-blue-600 border border-gray-300 bg-blue-50 hover:bg-blue-100 hover:text-blue-700 ligth:border-gray-700 ligth:bg-gray-700 ligth:text-white">{{ i }}</a>
      </li>
      {% else %}
      <li>
        <a href="?page={{ i }}"  class="px-3 py-2 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 light:bg-gray-800 light:border-gray-700 light:text-gray-400 light:hover:bg-gray-700 light:hover:text-white">{{ i }}</a>
      </li>
      {% endif %} 
      {% endfor %}
      {% if page_obj.has_next %}
      <li>
        <a href="?page={{page_obj.next_page_number}}" class="px-3 py-2 leading-tight text-gray-500 bg-white border border-gray-300 rounded-r-lg hover:bg-gray-100 hover:text-gray-700 light:bg-gray-800 light:border-gray-700 light:text-gray-400 light:hover:bg-gray-700 light:hover:text-white">Next</a>
      </li>
      {% else %}
      <li>
        <a href="" class="page-item disabled px-3 py-2 leading-tight text-gray-500 bg-white border border-gray-300 rounded-r-lg hover:bg-gray-100 hover:text-gray-700 light:bg-gray-800 light:border-gray-700 light:text-gray-400 light:hover:bg-gray-700 light:hover:text-white">Next</a>
      </li>
      {% endif %}
    </ul>
    {% endif %}
  </nav>
  



  {% endblock content %}