{% extends 'base.html' %}


{% block content %}
    <div class="w-full mb-6 py-6 flex justify-between items-center border-b border-gray-200">
        <div class="text-4xl text-gray-800">
            <h1>Plans</h1>
        </div>
        <div class="text-1xl text-gray-500 hover:text-blue-500">
            <a href="{% url 'clients:plan-create' %}"><button class="bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded">
              Create new plan
            </button></a>
            
        </div>
        
    </div>
<!-- component -->
<div class="overflow-hidden rounded-lg shadow-md m-5">
  <div class="flex items-center justify-between pb-4">
 
    <label for="table-search" class="sr-only">Search</label>
    <div class="relative">
        <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
            <svg class="w-5 h-5 text-gray-500 light:text-gray-400" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd"></path></svg>
        </div>
        <input type="text" id="search-input" class="block p-2 pl-10 text-sm text-gray-900 border border-gray-300 rounded-lg w-80 bg-gray-50 focus:ring-blue-500 focus:border-blue-500 light:bg-gray-700 light:border-gray-600 light:placeholder-gray-400 light:text-white light:focus:ring-blue-500 light:focus:border-blue-500" placeholder="Search for items">
    </div>
</div>

<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
  <table id="content-table" class="w-full text-sm text-left text-gray-500 ligth:text-gray-400">
      <thead class="text-xs text-gray-700 uppercase ligth:text-gray-400">
          <tr>
              <th scope="col" class="px-6 py-3 bg-gray-50 ligth:bg-gray-800">
                  Name
              </th>
              <th scope="col" class="px-6 py-3">
                  Speed
              </th>
              <th scope="col" class="px-6 py-3 bg-gray-50 ligth:bg-gray-800">
                  Duration
              </th>
              <th scope="col" class="px-6 py-3">
                 Month cost
              </th>
              <th scope="col" class="px-6 py-3 bg-gray-50 ligth:bg-gray-800">
                Action
            </th>
          </tr>
      </thead>
      <tbody>
        {% for plan in plans %}
          <tr class="border-b border-gray-200 ligth:border-gray-700">
              <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap bg-gray-50 ligth:text-white ligth:bg-gray-800">
                  {{plan.name}}
              </th>
              <td class="px-6 py-4">
                {{plan.speed}}
              </td>
              <td class="px-6 py-4 bg-gray-50 ligth:bg-gray-800">
                {{plan.duration}}
              </td>
              <td class="px-6 py-4">
                {{plan.month_cost}} $
              </td>
              <td class="px-6 py-4">
                <a href="{% url 'clients:plan-update' plan.id %}" class="px-2 py-1 font-medium text-blue-600 dark:text-blue-500 hover:underline">Edit</a>
                <a href="{% url 'clients:plan-delete' plan.id %}" class="px-2 py-1 font-medium text-blue-600 dark:text-blue-500 hover:underline">Delete</a>
            </td>
     
          </tr>
          {% endfor %}
      </tbody>
  </table>
</div>

</div>

 <!--Pagination-->
    
 <nav aria-label="Page navig ation example" class="grid place-items-center" >
  {% if is_paginated %}
  <ul class="inline-flex -space-x-px items-center	justify-between" >
    {% if page_obj.has_previous %}
    <li>
      <a href="?page={{page_obj.previous_page_number}}" class="px-3 py-2 ml-0 leading-tight text-gray-500 bg-white border border-gray-300 rounded-l-lg hover:bg-gray-100 hover:text-gray-700 light:bg-gray-800 light:border-gray-700 light:text-gray-400 light:hover:bg-gray-700 light:hover:text-white">Previous</a>
    </li>
    {% else %}
    <li>
      <a href="" class="page-item disabled px-3 py-2 ml-0 leading-tight text-gray-500 bg-white border border-gray-300 rounded-l-lg hover:bg-gray-100 hover:text-gray-700 light:bg-gray-800 light:border-gray-700 light:text-gray-400 light:hover:bg-gray-700 light:hover:text-white">Previous</a>
    </li>
    {% endif %}

    {% for i in paginator.page_range %} 
    {% if page_obj.number == i %}
    <li>
      <a aria-current="page" class="px-3 py-2 text-blue-600 border border-gray-300 bg-blue-50 hover:bg-blue-100 hover:text-blue-700 ligth:border-gray-700 ligth:bg-gray-700 ligth:text-white">{{ i }}</a>
    </li>
    {% else %}
    <li>
      <a href="?page={{ i }}"  class="px-3 py-2 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 light:bg-gray-800 light:border-gray-700 light:text-gray-400 light:hover:bg-gray-700 light:hover:text-white">{{ i }}</a>
    </li>
    {% endif %} 
    {% endfor %}
    {% if page_obj.has_next %}
    <li>
      <a href="?page={{page_obj.next_page_number}}" class="px-3 py-2 leading-tight text-gray-500 bg-white border border-gray-300 rounded-r-lg hover:bg-gray-100 hover:text-gray-700 light:bg-gray-800 light:border-gray-700 light:text-gray-400 light:hover:bg-gray-700 light:hover:text-white">Next</a>
    </li>
    {% else %}
    <li>
      <a href="" class="page-item disabled px-3 py-2 leading-tight text-gray-500 bg-white border border-gray-300 rounded-r-lg hover:bg-gray-100 hover:text-gray-700 light:bg-gray-800 light:border-gray-700 light:text-gray-400 light:hover:bg-gray-700 light:hover:text-white">Next</a>
    </li>
    {% endif %}
  </ul>
  {% endif %}
</nav>

{% endblock content %}